{% extends 'base.html' %}

{% block content %}
     <div class="row mb-4 mt-2">
                        <div class="col-2 ">
                              <img class="one-book" alt="cover picture" src="{{ details.cover_picture.url }}">
                        </div>
                         <div class="col-6 ms-4">
                             <h1>{{ details.title }}</h1>
                             <p>
                                 {{ details.description}}
                             </p>
                             <p>{{ details.isbn }}</p>
                         </div>
     </div>
{% endblock content %}
